    &nbsp;
    <div class="containeer">
      <div class="row">
        <div class="col-xs-7 col-xs-offset-2">
          <p style='text-align: center; margin: 0 auto;'>&copy; Brent Payton, 2018</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
          <a href="/howToPlay">how to play</a>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          <a href="/terms">terms</a>
        </div>
      </div>
    </div>
  </body>
</html>
