    &nbsp;
    <div class="container">
      <div class="row">
        <div class="col-xs-7 col-xs-offset-2">
          <p style='text-align: center; margin: 0 auto;'>&copy; Brent Payton, 2019</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
          <a href="/howToPlay">how to play</a>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          <a href="/terms2">terms</a>
        </div>
      </div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108760578-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108760578-1');
    </script>

   <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s="
      crossorigin="anonymous">
    </script>

    <script src="/js/main.js"> </script>
  </body>
</html>
