<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FifteenLines</title>
    <!--JS-->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous">
    </script>
    <script src="/js/main.js"> </script>
    <!--CSS-->
    <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

    <link href='/stylesheets/paper.min.css' rel='stylesheet'>

    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <link href='/stylesheets/main.css' rel='stylesheet'>
    <%# Favicons %>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <!--Navbar-->
    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-content">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class='navbar-brand' href='/' id='home'>FifteenLines</a>
        </div>
        <div class='collapse navbar-collapse' id='mynavbar-content'>
          <ul class='nav navbar-nav'>
            <%# Local user %>
            <% if (currentUser && currentUser.username) { %>
              <li class='pull-right'><a href='#'>Signed in as <%= currentUser.username %></a></li>
              <% if (currentUser.admin) { %>
                <li class='pull-right'><a href='/users' id='userManagement'>User Management</a></li>
              <% } %>
              <% if (currentUser.admin) { %>
                <li class='pull-right'><a href='/poems/admin' id='poemManagement'>Poem Management</a></li>
              <% } %>
              <li class='pull-right'><a href='/logout' id='logout'>Log Out</a></li>
            <% } %>
            <%# Facebook user %>
            <% if (currentUser && currentUser.name) { %>
              <li class='pull-right'><a href='#'>Signed in as <%= currentUser.name %></a></li>
              <li class='pull-right'><a href='/logout' id='logout'>Log Out</a></li>
            <% } %>
            <%# Not logged in %>
            <% if (!currentUser) { %>
              <%# <li><a href='/login/facebook'>Log In With Facebook</a></li> %>
              <li class='pull-right'><a href='/login' id='login'>Log In</a></li>
              <li class='pull-right'><a href='/register' id='signup'>Sign Up</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <!--Flash messages-->
    <div class='container'>
      <% if(error && error.length > 0){ %>
        <div class='alert alert-danger' role='alert'><%= error %></div>
      <% } %>
      <% if(success && success.length > 0){ %>
        <div class='alert alert-success' role='alert'><%= success %></div>
      <% } %>
    </div>
