# Mac OS X
.DS_Store

# Node.js
debug.sh
node_modules/
npm-debug.log
package-lock.json
backup_example.txt
credentials.old.json
credentials.json
mongoDev.js
mongoProd.js
temp
backup
~$project.xlsx
.cache
__pycache__

