<% include partials/header %>

<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      This site provides an easy way to play a poetry game normally played on paper.

      The game is played like this:
      <ol>
        <li>Create an account or log in with your Facebook account then sign in.  Everyone who wants to play must have an account.</li>
        <li>Click the big green "add a poem" button that will appear on the homepage.</li>
        <li>On the "Add a poem" page, you only need to provide two pieces of information:  the poem's title and how may words there will be per line.  Feel free to leave the "words per line" option set to 5.</li>
        <li>Click "submit".</li>
        <li>You'll be taken back to the homepage.  Find your poem in the list and click on the title.</li>
        <li>You'll be taken to a page that allows you to see the poem's details but currently it's blank.</li>
        <li>Click on "Edit"</li>
        <li>On the edit page you'll be able to change the poem's title (an option that will always be available) and you'll be able to add the poem's first line.</li>
        <li>Fill in the blanks (5 by default) and click "Submit"</li>
      </ol>

      In case you're ever interested in playing the "offline" version of the game, the rules are just slightly different:
      <ol>
        <li>Each player begins by writing 5 words on the first line of a piece of paper and a sixth word on the second line.</li>
        <li>The sheets of paper are then folded such that only the word on the sixth line is visible.</li>
        <li></li>
      </ol>
    </div>
  </div>
</div>

<% include partials/footer %>
