<% include partials/header %>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '310397579428322',
      xfbml      : true,
      version    : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class='container'>

  <div class='row'>
    <div class="col-md-10 offset-md-2">
      <h1>Log In</h1>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6 loginColumnSeparator'>
      <form action='/login' method='POST'>
        <div class='form-group'>
          <input
            class='form-control'
            type='text'
            name='username'
            id='username'
            placeholder='username'
            required>
        </div>
        <div class='form-group'>
          <input
            class='form-control'
            type='password'
            name='password'
            id='password'
            placeholder='password'
            required>
        </div>
          <input
            class='btn btn-primary'
            type='submit'
            id='submit'
            value='Log In!'>
      </form>
    </div>
    <div class='col-sm-6'>
      <a
        href="/login/facebook">
        <img src="../images/facebook.png" width="200" alt="Facebook login button">
      </a>
      <br />
      <br />
      <a
        href="/auth/twitter">
        <img src="../images/twitter.png" width="200" alt="Twitter login button">
      </a>
    </div>
  </div>
</div>

<% include partials/footer %>
