<% include partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-4">
      <h1>Sign Up</h1>
    </div>
  </div>

  <div class="row">
    <div class='col-md-10 offset-md-2 centered'>
      <a href="/login/facebook"><img src="../images/facebook.png" width="300" alt=""></a>
    </div>
  </div>

  <div class="row">
    <div class='col-md-10 offset-md-2 centered'>
      &nbsp; Or... &nbsp;
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-4 centered">
      <form action='/register' method='POST'>
        <div class="form-group">
          <input type='text' class="form-control" name='username' id='username' placeholder='Username'>
        </div>
        <div class="form-group">
          <input type='email' class="form-control" name='email' id='email' placeholder='Email'>
        </div>
        <div class="form-group">
          <input type='password' class="form-control" name='password' id='password' placeholder='Password'>
        </div>
        <button class="btn btn-primary" type="submit" id="signUp" name="signUp">Sign Up</button>
      </form>
    </div>
  </div>

</div>

<% include partials/footer %>
