<% include partials/header %>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '310397579428322',
      xfbml      : true,
      version    : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container">

  <div class="row">
    <div class="col-md-8 offset-md-4">
      <h1>Sign Up</h1>
    </div>
  </div>

  <div class="row">
    <div class='col-md-10 offset-md-2 centered'>
      <a href="/login/facebook"><img src="../images/facebook.png" width="300" alt=""></a>
    </div>
  </div>

  <div class="row">
    <div class='col-md-10 offset-md-2 centered'>
      <br /> or...
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-4 centered">
      <form action='/register' method='POST'>
        <div class="form-group">
          <input type='text' class="form-control" name='username' id='username' placeholder='username' required>
        </div>
        <div class="form-group">
          <input type='email' class="form-control" name='email' id='email' placeholder='email' required>
        </div>
        <div class="form-group">
          <input type='password' class="form-control" name='password' id='password' placeholder='password' required>
        </div>
        <script src="//www.google.com/recaptcha/api.js" async defer></script>
        <div class="g-recaptcha" data-sitekey="6LciljMUAAAAAO0i0yE7IxRZzZOonQFgI62icNKO" data-callback="enableBtn"></div>
        <button class="btn btn-primary" type="submit" id="signUp" name="signUp">Sign Up</button>
      </form>
    </div>
  </div>

</div>

<script>
  document.getElementById('signUp').disabled = true;

  function enableBtn() {
    document.getElementById('signUp').disabled = false;
  }
</script>

<% include partials/footer %>
