<% include ../partials/header %>
<p>
<%= currentUser %><br>

ID: <%= currentUser._id %><br/>

<% if (currentUser.email) { %>
  email: <%= currentUser.email %><br/>
  <% } %>

name: <%= currentUser.name %><br/>

</p>

<% include ../partials/footer %>
