<% include ../partials/header %>

<div class='container'>
  <div class='row'>
    <h1 style='text-align: center'>Add a Poem</h1>
    <div style='margin: 25px auto;'>
      <form action='/poems' method='POST'>
        <div class='form-group'>
          <input class='form-control' type='text' placeholder='title' name='title'>
        </div>
        <div class='form-group'>
          <input class='form-control' type='text' placeholder='line one word 1' name='l1w1'>
          <input class='form-control' type='text' placeholder='line one word 2' name='l1w2'>
          <input class='form-control' type='text' placeholder='line one word 3' name='l1w3'>
          <input class='form-control' type='text' placeholder='line one word 4' name='l1w4'>
          <input class='form-control' type='text' placeholder='line one word 5' name='l1w5'>
        </div>
        <%# <div class='form-group'>
          <textarea class='form-control' type='textarea' rows='3' placeholder='poem' name='content'></textarea>
        </div>%>
        <div class='form-group'>
          <button class='btn btn-md btn-primary btn-block'>Submit</button>
        </div>
      </form>
      <a href='/poems'>Go Back</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
