<% include ../partials/header %>

<div class='container'>
  <div class='row'>
    <h1 style='text-align: center'>Add a Poem</h1>
    <div style='margin: 25px auto;'>
      <form action='/poems' method='POST'>
        <div class='form-group'>
          <input class='form-control' type='text' placeholder='title' name='title' id='title'>
        </div>
        <div class='form-group'>
          Words per line:
          <select name='wordsPerLine' style="color: black;">
            <option value='5'>5</option>
            <option value='6'>6</option>
            <option value='7'>7</option>
            <option value='8'>8</option>
            <option value='9'>9</option>
            <option value='10'>10</option>
            <option value='11'>11</option>
            <option value='12'>12</option>
            <option value='13'>13</option>
            <option value='14'>14</option>
            <option value='15'>15</option>
          </select>
        </div>
        <div class='form-group'>
          <button class='btn btn-md btn-primary btn-block' id='submit'>Submit</button>
        </div>
      </form>
      <div class="col-md-12">
        <a href='/' class="btn btn-primary">
          <span class="glyphicon glyphicon-arrow-left"></span>
          Back</a>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
